/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");

/* Default Styles */
:root {
	/* --gray: #293c3d;
	--dark-slate-gray: #314749;
	--prussian-blue: #233b58;
	--indigo-blue: #0f3f6c;
	--light-blue: #185477;
	--red: #ff4747;
	--yellow: #ffed85;
	--green: #b6cea1;
	--light-green: #e0ead7;
	--background-gray: #e5e7eb;
	--background-light: #fefefe;
	--text-primary: #f9faf8;
	--text-secondary: #e5e7eb; */

	--gold: #ebe5c1;
	--red: #ff5c5c;
	--navy: #274c68;
	--brown: #a26d41;
	--beige: #f4f1de;
	--black: #3d3d3d;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	scroll-behavior: smooth;
	scroll-padding-top: 5rem;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Comfortaa", sans-serif;
	position: relative;
}

a {
	text-decoration: none;
}

button {
	all: unset;
	outline: revert;
	box-sizing: border-box;
	display: inline-block;
	cursor: pointer;
}

input,
textarea,
button,
select {
	font: inherit;
}

.sr-only,
.sr-only-focusable:not(:focus):not(:focus-within) {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

::selection {
	background-color: var(--navy);
	color: var(--beige);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

/* Header */
header {
    background-image: linear-gradient(rgba(39 76 104 / 90%), rgba(39 76 104 / 90%)),
		url(assets/imgs/gustave-dore/000_Entry_of_Jesus_into_Jerusalem.jpg);
	background-size: cover;
	background-position-y: 35%;
	/* background-position-x: 38%;
	background-position-y: 35%; */
	box-shadow: inset 0 0 5rem rgba(39 76 104 / 30%);
	min-height: 80dvh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	padding: 1rem 0;
}

header nav a {
	color: var(--gold);
    transition: all 300ms;
	/* justify-self: start; */
}

header nav a:hover {
	opacity: 0.9;
}

header .logo {
	color: var(--gold);
	font-size: 1.25rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.2rem;
	/* justify-self: start; */
}

header .logo i {
	font-size: 1.5rem;
	padding-inline: 0.1rem;
}

header nav ul {
	display: flex;
	align-items: center;
	gap: 1rem;
}

header .header-form {
	display: flex;
	gap: 1rem;
	/* justify-self: end; */
}

header .signup,
header .login {
	border-radius: 0.3rem;
	padding: 0.3rem 0.6rem;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 300ms;
	font-weight: bold;
}

header .signup {
	background-color: var(--gold);
	color: var(--navy);
	border: 2px solid var(--gold);
}

header .signup:hover {
	opacity: 0.9;
}

header .login {
	border: 2px solid var(--gold);
	color: var(--gold);
}

header .login:hover {
	background-color: var(--gold);
	color: var(--navy);
}

header .hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

header .hero h1 {
	color: var(--gold);
	font-size: 3rem;
	text-transform: uppercase;
}

header .hero h1 i {
	font-size: 3.5rem;
	padding-inline: 0.3rem;
}

header .hero .lead {
	width: 40%;
	margin: 0 auto;
	text-align: center;
	color: var(--gold);
	font-size: 1.25rem;
	line-height: 1.65rem;
}

header .hero-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

header .hero-buttons .get-started,
header .hero-buttons .view-plans {
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
	font-weight: bold;
	font-size: 1.125rem;
	transition: all 300ms;
	width: 9rem;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--gold);
	border: 0.1rem solid var(--gold);
}

header .hero-buttons .view-plans:hover,
header .hero-buttons .get-started:hover {
	color: var(--navy);
	background-color: var(--gold);
}

/* Main */
main {
	padding: 7rem 0 0 0;
	background-color: var(--beige);
	color: var(--navy);
}

/* Features */
#features {
	margin-bottom: -2rem;
}

.features {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	place-items: center;
	color: var(--navy);
}

.feature-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-items: center;
	text-align: center;
}

.feature-card i {
	font-size: 2.5rem;
}

.feature-card h3 {
	font-size: 1.5rem;
	margin: 1rem 0 0.4rem 0;
}

.feature-card p {
	font-size: 1.125rem;
	width: 90%;
	line-height: 1.35rem;
}

/* Plans */
.plans .classic, 
.plans .canonical, 
.plans .chronological {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: center;
}

.plans .classic .plan-image {
	background-image: linear-gradient(rgba(39 76 104 / 30%), rgba(39 76 104 / 30%)),
		url(assets/imgs/gustave-dore/000_Entry_of_Jesus_into_Jerusalem.jpg);
	background-size: cover;
	box-shadow: inset 0 0 5rem rgba(39 76 104 / 30%);
	min-height: 550px;
	max-height: 70dvh;
	width: 100%;
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}

/* .plans .plan-image img {
	width: 100%;
	height: auto;
} */

.plans .plans {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.plans .plans h2 {
	font-size: 2.5rem;
}

.plans .plans .plan-lead {
	margin: 0.75rem 0 2rem;
	font-size: 1.25rem;
	line-height: 1.55rem;
}

.plan .plan-links-div {
	display: flex;
}

.plans .plan-links {
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
	font-weight: bold;
	font-size: 1.125rem;
	transition: all 300ms;
	width: 9rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--navy);
	color: var(--beige);
	border: 0.1rem solid var(--navy);
	display: inline-block;
}

.plans .plan-links:hover {
	opacity: 0.9;
}

.plans hr {
	height: 0.3rem;
	border: none;
	background-color: var(--navy);
	border-radius: 0.3rem;
	margin-inline: auto;
	margin-block: 10rem;
	width: 75%;
}

/* .plans hr:first-of-type {
	margin-right: 0;
}

.plans hr:nth-of-type(2) {
	margin-left: 0;
} */

.plans .canonical .plan-image {
	background-image: linear-gradient(rgba(39 76 104 / 30%), rgba(39 76 104 / 30%)),
		url(assets/imgs/gustave-dore/000_Entry_of_Jesus_into_Jerusalem.jpg);
	background-size: cover;
	box-shadow: inset 0 0 5rem rgba(39 76 104 / 30%);
	min-height: 550px;
	max-height: 70dvh;
	width: 100%;
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}

.plans .chronological .plan-image {
	background-image: linear-gradient(rgba(39 76 104 / 30%), rgba(39 76 104 / 30%)),
		url(assets/imgs/gustave-dore/000_Entry_of_Jesus_into_Jerusalem.jpg);
	background-size: cover;
	box-shadow: inset 0 0 5rem rgba(39 76 104 / 30%);
	min-height: 550px;
	max-height: 70dvh;
	width: 100%;
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
}

/* App */
#app {
	margin-top: 10rem;
	padding: 3rem 0;
	background-color: var(--brown);
	color: var(--beige);
}

.app {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	text-align: center;
}

.app i {
	font-size: 4rem;
	color: var(--navy);
}

.app h4 {
	font-size: 1.75rem;
}

.app .app-lead {
	margin: 0.5rem auto 1rem;
	width: 80%;
	font-size: 1.25rem;
	line-height: 1.35rem;
}

.app .app-link {
	padding: 0.5rem 1rem;
	background-color: var(--navy);
	color: var(--beige);
	border-radius: 0.3rem;
	transition: all 300ms;
}

.app a:hover {
	opacity: 0.9;
}

/* Footer */
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	color: var(--gold);
	background-color: var(--navy);
	padding: 1rem 0;
	font-size: 1rem;
}

footer .footer-logo {
	letter-spacing: 0.2rem;
	text-transform: uppercase;
}

footer .footer-logo i {
	color: var(--dark-green);
}

footer a {
	color: var(--yellow);
	transition: all 300ms;
	display: inline-block;
}

footer a:hover {
	opacity: 0.9;
	color: var(--red);
	transform: translateY(-0.2rem);
}

/* Daily Tasks */
.open-tasks {
	background-color: var(--red);
	color: var(--beige);
	font-size: 1.25rem;
	padding: 0.75rem 0.75rem 0.75rem 1.5rem;
	position: fixed;
	bottom: 50%;
	translate: 0 50%;
	left: -1rem;
	border-radius: 0.3rem;
	opacity: 0.7;
}

.open-tasks:hover {
	opacity: 1;
}

.tasks-dialog {
	background-color: var(--beige);
	border-radius: 0.3rem;
	color: var(--navy);
	padding: 2rem 1rem;
	max-width: 500px;
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
}

.tasks-dialog::backdrop {
	background-color: rgba(0 0 0 / 80%);
}

.tasks-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.tasks-dialog h2 {
	font-size: 1.75rem;
}

.tasks-dialog i {
	font-size: 1.75rem;
	color: var(--red);
}

.form-control {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 1rem;
}

.form-control label,
.form-control input {
	cursor: pointer;
}

input[type="checkbox"] {
	height: 1.25rem;
	width: 1.25rem;
	min-width: 1.25rem;
}

.tasks-body {
	width: 80%;
	margin-inline: auto;
}